<div style="clear: both;">
  <%if !@resources.empty? %>
    <div class="autoscroll">
      <table class="list resources">
        <tr>
          <% index_attributes.each do |index_attribute| %>
            <% unless exclude_index_attributes.find { |eia| index_attribute =~ /#{eia}/ } %>
              <th>
                <%= l("label_#{index_attribute.is_a?(Array) ? index_attribute[0] : index_attribute}") %>
              </th>
            <% end %>
          <% end %>
          <th></th>
          <th></th>
        </tr>

        <% @resources.each do |resource| %>
          <tr>
            <% index_attributes.each do |index_attribute| %>
              <% attribute_name = index_attribute.is_a?(Array)   ? index_attribute[0] : index_attribute %>
              <% attribute_values = index_attribute.is_a?(Array) ? index_attribute[1] : [] %>

              <% unless exclude_index_attributes.select { |eia| attribute_name =~ /#{eia}/ }.first %>
                <td>
                  <%= format_field(resource.send(attribute_name), attribute_values) %>
                </td>
              <% end %>
            <% end %>

            <td><%= link_to l(:button_edit)  , url_for([:edit] | resource_url(resource)) %></td>
            <td><%= link_to l(:button_delete), url_for(resource_url(resource)), confirm: l(:access_delete_confirmation_message), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <%= paginate @resources %>

    <br />
  <% else %>
    <h3> <%= l("no_#{snake_case_model_name}_message")%> </h1>
  <% end %>
</div>
